<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body
        p#id= user.id
        h1= user.email
        p Usuaurios conectados:
            span#connected 
        form(action="/sessions?_method=DELETE", method="POST")
            input(type="submit" value="Cerrar sesion")
        script(src="/socket.io/socket.io.js") // Al momento de enlazar el server con socket.io con el server publica ese script automaticamente donde se encuentra toda la logica del socket
        script.
            let id = document.querySelector('#id').innerHTML;
            let socket = io.connect(window.location.origin, { query: `loggeduser=${id}` }); // Si se pasa basio busca el socket de manera local
            console.log(window.location.origin)
            socket.on('count_updated', data => {
                console.log('dsd')
                document.querySelector('#connected').innerHTML = data.count; 
            }); 

            socket.on('new_task', data => {
                console.log('Carsy');
            });

           
           