<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Editar
        //form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            textarea(name="description", cols="30", rows="10" placeholder="Cola aqui tu pendiente a realizar")= task.description
            input(type="submit", value="Guardar")